<section>
  <button alt="Home" mat-button [routerLink]="['']">
    <mat-icon >home</mat-icon>
  </button>
  <button alt="New Recipe"mat-button [routerLink]="['recipe-form/0/edit']">
    <mat-icon>add_box</mat-icon>
  </button>
</section>
