  <div class="container">
    <h2>{{ viewTitle }}</h2>
    <form [formGroup]="recipeForm" (ngSubmit)="saveRecipe()" novalidate>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Recipe Name</mat-label>
      <input matInput formControlName="name"/>
      <mat-error>{{displayMessage.name}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error>{{displayMessage.description}}</mat-error>
    </mat-form-field>
    <div formArrayName="ingredients">
      <div
        *ngFor="let item of ingredients.controls; let i=index">
        <mat-form-field appearance="fill">
          <mat-label>Ingredient</mat-label>
          <input matInput
                  [formControlName]="i"
                  [id]="i"
                  placeholder="ex. cup of corn"
                  #ingredientElems/>
        </mat-form-field>
      </div>
    </div>
    <button mat-button style="display: block;" (click)="addIngredient();">Add Ingredient</button>
    <button mat-raised-button color="primary" [disabled]="canSave()">Submit</button>
  </form>
</div>
