<div class="container">
  <h2>{{ recipe.name}}</h2>
  <p>{{ recipe.description}}</p>
  <mat-list>
    <div mat-subheader>Ingredients</div>
    <mat-list-item *ngFor="let item of recipe.ingredients">
      <mat-icon mat-list-icon>gamepad</mat-icon>
      <div mat-line>{{ item }}</div>
    </mat-list-item>
  </mat-list>
  <div>
    <button mat-raised-button color="accent" [routerLink]="['/recipe-form', recipe.id, 'edit']">Edit</button>
    <button mat-raised-button color="basic" [routerLink]="['']">Back to List</button>
  </div>
</div>
