<div class="container">

  <h2>Recipes in Box</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let recipe" (click)="getDetails(recipe.id)"> {{recipe.name}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef width="60%"> Description </th>
        <td mat-cell *matCellDef="let recipe" (click)="getDetails(recipe.id)"> {{recipe.description | shortenText }}</td>
      </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let recipe">
        <button mat-icon-button color="accent"
                  aria-label="edit this recipe"
                 [routerLink]="['/recipe-form', recipe.id, 'edit']">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button
                  color="warn"
                  aria-label="delete this recipe"
                  (click)="openDialog(recipe.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
