<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <app-recipe-nav></app-recipe-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
