<h3>Delete {{ data.name }}?</h3>
<div mat-dialog-content>
  <p>Are you sure you want to delete {{ data.name }} from the recipe list?</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="deleteRecipe(data.id)">Delete</button>
  <button mat-button color="primary" cdkFocusInitial (click)="cancelDelete()">Cancel</button>
</div>
